<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gym Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LServlet</display-name>
    <servlet-name>LServlet</servlet-name>
    <servlet-class>myPackage.LServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LServlet</servlet-name>
    <url-pattern>/LServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>RServlet</display-name>
    <servlet-name>RServlet</servlet-name>
    <servlet-class>myPackage.RServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RServlet</servlet-name>
    <url-pattern>/RServlet</url-pattern>
</servlet-mapping>
</web-app>