/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.welcome-panel {
    text-align: center;
}

.welcome-panel h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.welcome-panel p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.welcome-panel a {
    display: inline-block;
    background-color: #0ad11b;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.welcome-panel a:hover {
    background-color: #0ad11b;
}

form {
    margin-top: 20px;
}

form button {
    background-color: transparent;
    color: #0ad11b;
    border: 2px solid #0ad11b;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

form button:hover {
    background-color: #0ad11b;
    color: #fff;
}
footer {
	background-color: #222;
	color: #fff;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 999;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #0059ff;
	text-decoration: none;
}
